<footer class="container-fluid text-center">
        <div >
          <div class="col-sm-12">
            <h3>Contact Us</h3>
            <br>
            <p>© Setflix. All Rights Reserved. HBO, Home Box Office and all related channel and programming logos are service marks of, and all related programming visuals and elements are the property of, Home Box Office, Inc. All rights reserved.</p>
          </div>
          <!-- <div class="col-sm-4">
            <h3>Connect</h3>
            <a class="btn btn-social-icon btn-github"><i class="fa fa-github"></i></a>
        <a class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
        <a class="btn btn-social-icon btn-instagram"><i class="fa fa-instagram"></i></a>
        <a class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
          </div> -->
          <div class="col-sm-4">
            <!-- <img src="img/b.png" class="icon"> -->
          </div>
        </div>
      </footer>