
<ngx-spinner></ngx-spinner>
<!-- movie list -->
<div class="movieList" id="movie-show" *ngIf=" isViewable && message!='default message'">
    

  <div class="row" >
      <h3 class="header-text container">Showing results for: <strong>{{message}}</strong></h3>
        <div class="col-sm-4" *ngFor="let movie of ('http://www.omdbapi.com/?s='+message+'&apikey=a6c1ca03'|cacheapi).Search;let i=index">
            {{IsArrayEmpty()}}
          <div class="card" >
              <img class="card-img-top card-image" src="{{movie.Poster=='N/A' && 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTM5BMvVJfq-yeKU5vJloUOeE58Rw0U4ABfIovM32GzEjQMmO35'|| movie.Poster}}" alt="Card image cap" >
              <div class="card-body">
                <h5 class="card-title landing-text">{{movie.Title}}</h5><br>
                <p class="card-text landing-text">{{movie.Year}}</p>
                <a style="margin:10px" class="btn btn-danger" (click)="toggle(movie.Title,movie.Year,movie.imdbID,movie.Type,movie.Poster,true)">Details</a>
                <a href="#" class="btn btn-danger">+My list</a>
              </div>
          </div>
          
        </div>
    </div>
</div>

<div class="movieList" *ngIf="!empty && message!='default message'">
    <h4 class="header-text"><span class="font-class">No results found!! But you may also like</span></h4>
    <div class="row" >
          <div class="col-sm-4" *ngFor="let movie of ('http://www.omdbapi.com/?s=2019&y=2019&apikey=a6c1ca03'|cacheapi).Search;let i=index">
              
            <div class="card" >
                <img class="card-img-top card-image" src="{{movie.Poster=='N/A' && 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTM5BMvVJfq-yeKU5vJloUOeE58Rw0U4ABfIovM32GzEjQMmO35'|| movie.Poster}}" alt="Card image cap" >
                <div class="card-body">
                  <h5 class="card-title landing-text">{{movie.Title}}</h5><br>
                  <p class="card-text landing-text">{{movie.Year}}</p>
                  <a style="margin:10px" class="btn btn-danger" (click)="toggle(movie.Title,movie.Year,movie.imdbID,movie.Type,movie.Poster,false)">Details</a>
                  <a href="#" class="btn btn-danger">+My list</a>
                </div>
            </div>
            
          </div>
      </div>
</div>

<!-- Movie detail and Similar movies  -->
<div class="padding" *ngIf="!isViewable">
    <h2 class="header-text">Showing details for: <strong>{{movie_title}}</strong></h2>
    <div class="container">
        
      <div class="row">
        <div class="col-sm-6">
          <img class= "detail" src="{{movie_poster}}">
        </div>
        <div class="col-sm-6 text-center text_detail">
          <h1>{{movie_title}}<span>({{movie_year}})</span></h1>
          <h4>Imdb ID: {{movie_imdbId}}</h4>
          <h4>Type :{{movie_type}}</h4>
          <a href="#movie-show" (click)="toggle_to_search()">Go back!</a>
        </div>
      </div>
    </div>
    <div>
      <h3 class="container">Similar movies:</h3>

      <div class="row" >
        <div class="col-sm-4" *ngFor="let movie of ('http://www.omdbapi.com/?s='+message+'&apikey=a6c1ca03&type='+movie_type+''|cacheapi).Search.reverse();let j=index">
            
            <div class="card">
                <img class="card-img-top card-image" src="{{movie.Poster=='N/A' && 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTM5BMvVJfq-yeKU5vJloUOeE58Rw0U4ABfIovM32GzEjQMmO35'|| movie.Poster}}" alt="Card image cap" >
                <div class="card-body">
                  <h5 class="card-title landing-text">{{movie.Title}}</h5><br>
                  <p class="card-text landing-text">{{movie.Year}}</p>
                  <a style="margin:10px" class="btn btn-danger" (click)="toggle(movie.Title,movie.Year,movie.imdbID,movie.Type,movie.Poster,false)">Details</a>
                  <a href="#" class="btn btn-danger">+My list</a>
                </div>
            </div>
          
        </div>
    </div>
    </div>
  </div>

